<div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
  <p class="text-center">{{messageAlert}}</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Daftar Produk</mat-card-title>
      <a routerLink="../add_data" type="button" class="btn btn-primary uk-position-top-right mr-3 mt-1" style="height: 40px;">
        <mat-icon>post_add</mat-icon><p class="float-right mt-1">Tambah Data</p>
      </a>
    </mat-card-header>
    <mat-card-content>
      
        <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Gambar</th>
                <th scope="col">Nama</th>
                <th scope="col">Jenis</th>
                <th scope="col">Tinggi</th>
                <th scope="col">Harga</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plant of plants; index as row">
                <th scope="row">{{row + 1}}</th>
                <td><img src="{{plant.urlImg}}" alt="{{plant.name}}" class="img-thumbnail img-table"></td>
                <td><p class="my-auto">{{plant.name}}</p></td>
                <td><p class="my-auto">{{plant.jenis}}</p></td>
                <td><p class="my-auto">{{plant.height}}</p></td>
                <td><p class="my-auto">{{plant.price | currency:"Rp "}}</p></td>
                <td><p class="my-auto">{{plant.total}}</p></td>
                <td><p class="my-auto uk-iconnav uk-iconnav-vertical"></p> 
                  <a class="uk-icon-link uk-margin-small-right uk-iconnav uk-iconnav-vertical" (click)="editPlants(plant, plant.id)" title="Edit" uk-icon="file-edit"></a>
                  <a class="uk-icon-link uk-margin-small-right uk-iconnav uk-iconnav-vertical" style="margin-top: -5px;" (click)="infoPlants(plant.id)" title="Info" uk-icon="info"></a>
                  <a class="uk-icon-link uk-margin-small-right uk-iconnav uk-iconnav-vertical" style="margin-top: -5px;" (click)="hapusPlants(plant.id)" title="Hapus" uk-icon="trash"></a>
                </td>
              </tr>
            </tbody>
        </table>


    </mat-card-content>
</mat-card>
  