<div class="jumbotron container uk-flex uk-flex-center uk-height-viewport" style="height: 100%;">
    <div class="container">

        <div *ngIf="!info" class="alert alert-info alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="card bg-secondary text-white shadow">
            <h3 class="card-header bg-dark text-white text-monospace font-weight-bolder"><b>Login</b></h3>
            <div class="card-body">
                <form action="login()" (submit)="login();">
                    <div class="form-group">
                      <label>Email</label>
                      <input [(ngModel)]="user.email" name="email" type="email" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input [(ngModel)]="user.password" name="password" class="form-control" [type]="hide ? 'password' : 'text'">
                        <a class="float-right position-sticky" style="color: #000; margin-top: -40px;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                    </div>
                                        
                    <div>
                        <a routerLink="/register" class="text-white float-left my-2">Don't have account</a>
                        <button type="submit" class="btn btn-success float-right mr-2" [disabled]="loading">
                            <div *ngIf="!loading; else elseLoading">Login</div>
                            <ng-template #elseLoading>
                                <div class="spinner-border spinner-border-sm" role="status" disabled #elseLoading>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </ng-template>
                        </button>
                        <a routerLink="/login" class="text-white float-right mr-3 my-2">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>