<div class="jumbotron" style="height: 100%;">
    <div class="container">

        <div *ngIf="!info" class="alert alert-info alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="card bg-secondary text-white shadow">
            <h3 class="card-header bg-dark text-white text-monospace font-weight-bolder"><b>Register</b></h3>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input [(ngModel)]="user.name" name="name" type="text" class="form-control" autocomplete="off">
                      </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input [(ngModel)]="user.email" name="email" type="email" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input [(ngModel)]="user.password" name="password" class="form-control" [type]="hide ? 'password' : 'text'">
                        <a class="float-right position-sticky" style="color: #000; margin-top: -40px;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Confirm Password</label>
                        <input [(ngModel)]="user.conpass" name="conpass" class="form-control" [type]="confhide ? 'password' : 'text'">
                        <a class="float-right position-sticky" style="color: #000; margin-top: -40px;" mat-icon-button matSuffix (click)="confhide = !confhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confhide">
                            <mat-icon>{{confhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                    </div>
                    
                    <div class="float-right">
                        <button type="button" (click)="register()" class="btn btn-success float-right mr-2" [disabled]="loading">
                            <div *ngIf="!loading; else elseLoading">Register</div>
                            <ng-template #elseLoading>
                                <div class="spinner-border spinner-border-sm" role="status" disabled #elseLoading>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </ng-template>
                        </button>
                        <p class="float-left mr-3 my-2">
                            Already have an account? 
                            <a routerLink="/login" class="text-white">Sign In</a>
                        </p>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>