<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        
        <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <a class="navbar-brand uk-position-left mt-3" style="margin-left: 70px;" routerLink="/admin">Plants Shop</a>
        <a class="uk-position-top-right mr-4 my-3" uk-icon="icon: sign-out;" (click)="logOut()" uk-tooltip="Sign out"></a>   
    </nav>

    <mat-sidenav-container class="example-container">
      
        <mat-sidenav #sidenav mode="side" [position]="'start'" class="sidenav-left"
        [fixedInViewport]="true" [fixedTopGap]="60"
        [fixedBottomGap]="0">
          <div class="avatar">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="rounded-circle float-left" alt="...">
            <p class="name-admin text-center text-uppercase text-monospace pt-4">{{userData.name}}</p>
          </div>
          <mat-divider></mat-divider>

          <!-- list_1 -->
          <div class="list-group" *ngFor="let lst of list;">
            <a routerLink="/{{lst['link']}}" class="mt-2 list-group-item-action text-decoration-none">
              <mat-icon class="ml-3 mb-2">{{lst['icon']}}</mat-icon>
              <p class="text-monospace uk-text-middle uk-text-emphasis uk-text-bold ml-5" style="margin-top: -30px;">{{lst['title']}}</p>
            </a>
          </div>
          <mat-divider class="mt-2"></mat-divider>

          <div class="list-group">
            <a routerLink="register-admin" class="mt-2 list-group-item-action text-decoration-none">
              <mat-icon class="ml-3 mb-2">settings</mat-icon>
              <p class="text-monospace uk-text-middle uk-text-emphasis uk-text-bold ml-5" style="margin-top: -30px;">Tambah Admin</p>
            </a>
          </div>

        </mat-sidenav>
      
      <mat-sidenav #sidenav mode="side" [position]="'end'"  class="example-sidenav"
      [fixedInViewport]="true" [fixedTopGap]="60"
      [fixedBottomGap]="0">
      </mat-sidenav>
      <!-- sidenav content -->
      <mat-sidenav-content style="padding: 20px; background-color: #bfbfbf;">
      <!--halaman-halaman tampil disini-->
      
      <router-outlet></router-outlet>
        
      </mat-sidenav-content>
      <!--end sidenav content-->
      </mat-sidenav-container> 
    
</div>