<div class="jumbotron container shadow" style="width: 900px;">
    <div style="margin-top: -30px; margin-left: 80px;">
        <h2 class="font-weight-bold text-monospace">Tambah Data</h2>
    </div>
    <div class="mt-4">
        <form [formGroup]="formAddData" (ngSubmit)="addData()" novalidate class="uk-form-horizontal uk-margin-small">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Nama tanaman</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" formControlName="name" type="text" autocomplete="off" required>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Harga</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" formControlName="price" type="number" min="0" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Tinggi / Cm</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" formControlName="height" type="number" min="0" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Jenis</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" formControlName="jenis" type="text" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Jumlah</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" formControlName="total" type="number" min="0" autocomplete="off">
                </div>
            </div>

            <div class="uk-margin" uk-margin>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" id="file" (change)="onFileChange($event)" role="button" class="custom-file-input" [disabled]="!formImg">
                        <label class="custom-file-label" for="customFile">{{selectedFile ? selectedFile.name : 'Pilih File'}}</label>
                    </div>
                    <div class="input-group-append">
                        <button type="button" (click)="uploadImg()" class="btn btn-primary ml-1" [disabled]="tambahFile">
                            {{uploadBerhasil ? "Upload":"Loading..."}}
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="float-right">
                <button type="submit" class="btn btn-success float-right mr-5" style="height: 40px;" [disabled]="!loading" [disabled]="!uploadBerhasil">
                    <p class="float-right">{{loadingTxt ? 'Tambah':'Proses...'}}</p>
                </button>
                <button class="btn btn-danger float-right mr-5" style="height: 40px;" (click)="cancel()" [disabled]="!loadingCncl">
                    <p class="float-right">{{loadingCncl ? 'Batal':'Tunggu...'}}</p>
                </button>
            </div>

        </form>
    </div>
</div>