<div class="jumbotron container shadow" style="width: 900px;">
    <div style="margin-top: -30px; margin-left: 80px;">
        <h2 class="font-weight-bold text-monospace">Tambah Data</h2>
    </div>
    <div class="mt-4">
        <form class="uk-form-horizontal uk-margin-small">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Nama tanaman</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataplants.name" name="name" type="text" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Harga</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataplants.price" name="price" type="number" min="0" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Tinggi</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataplants.height" name="height" type="number" min="0" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Jenis</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataplants.species" name="species" type="text" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Jumlah</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataplants.total" name="total" type="number" min="0" autocomplete="off">
                </div>
            </div>
        
            <div class="uk-margin" uk-margin>
                <label class="uk-form-label" for="form-horizontal-text" style="margin-left: 15px;"></label>
                <div uk-form-custom="target: true">
                    <input type="file">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                </div>
                <button class="btn btn-primary ml-2">Submit</button>
            </div>

            <div class="float-right">
                <button class="btn btn-success float-right mr-5" (click)="addData()" [disabled]="!loading">{{loading ? 'Tambah':'Tunggu...'}}</button>
            </div>

        </form>
    </div>
</div>