<!--Navbar-->
<nav class="navbar navbar-light sticky-top shadow-sm bg-light" id="myNav">
    <ul class="nav ">
        <li class="nav-item mr-3">
            <a class="nav-link active" routerLink="/customer">
                <img src="https://firebasestorage.googleapis.com/v0/b/plantshop-2dc5b.appspot.com/o/JenisImg%2Fpine.png?alt=media&token=9a21f15a-81b2-44b8-84cd-f37bd9185085" alt="icon" style="height: 25px;">
                <p class="float-right h5 ml-2 text-success">PlantShop</p>
            </a>
        </li>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <a class="text-decoration-none">
            <span class="material-icons shopping-cart ml-2">
                shopping_cart
            </span>
        </a>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item mr-3" style="margin-top: -20px;">
            <a class="icon-user mr-4" uk-icon="icon: user"><p class="float-left mt-2 mr-2">{{userData.name}}</p></a>
            <a uk-icon="icon: sign-out;" (click)="logOut()" uk-tooltip="Sign out"></a>
        </li>
    </ul>
</nav>

<!-- jumbotron card jenis -->
<div class="jumbotron bg-transparent">
    <div class="fluid">
        <div class="content">
            
            <!-- content -->
            <router-outlet></router-outlet>
        
        </div>
    </div>
</div>