<div class="card shadow-sm">
    <div class="card-header font-weight-bolder text-monospace">
      Jenis
    </div>
    <div class="card-body">
        <div class="card float-left mr-1 my-1 uk-animation-toggle" style="height: 200px; width: 234px;" *ngFor="let pilihan of jenisTnmCard;">
            <!-- <a (click)="kirimJenis(pilihan['jenis'])" class="card-link" disabled> -->
            <a class="card-link" disabled>
                <div class="card-body uk-animation-scale-up">
                    <h3 class="card-title">{{pilihan['title']}}</h3>
                    <img src="{{pilihan['img']}}" style="height: 120px; width: 100%;">
                </div>
            </a>
        </div>
    </div>
</div>

<mat-divider class="mt-3"></mat-divider>

<div class="mt-2 mr-2 card-content" uk-grid *ngFor="let plant of plants;">
    <div>
        <a (click)="cekdata(plant.id, plant)">
        <div class="uk-card uk-card-default uk-card-small" style="height: 300px;">
            <div class="uk-card-media-top img-produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/plantshop-2dc5b.appspot.com/o/plantsImg%2FScreenshot%20from%202021-06-12%2022-27-51.png?alt=media&token=297fa7c0-2ec4-41d3-a15f-6067a5f38891" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{plant.name}}</h3>
                <p>{{plant.price | currency:"Rp "}}</p>
            </div>
        </div>
    </a>
    </div>
</div>