<div style="height: 500px; width: 540px; margin: 10px 0 0 -20px;">
    <div style="margin-top: -35px;">
        <h2 class="font-weight-bold text-monospace mt-5 ml-3">Edit Data</h2>
        <p>Batal</p>
    </div>
    <div class="mt-4">
        <form class="uk-form-horizontal uk-margin-small">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Nama tanaman</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataPlants.name" name="name" type="text" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Harga</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataPlants.price" name="price" type="number" min="0" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Tinggi</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataPlants.height" name="height" type="number" min="0" autocomplete="off">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Jenis</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataPlants.jenis" name="species" type="text" autocomplete="off" disabled>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"><p style="margin-left: 50px;">Jumlah</p></label>
                <div class="uk-form-controls" style="margin-right: 50px;">
                    <input class="uk-input" [(ngModel)]="dataPlants.total"  name="total" type="number" min="0" autocomplete="off">
                </div>
            </div>
        
            <div class="uk-margin" uk-margin>
                <label></label>
                <div class="custom-file">
                    <input type="file" id="file" (change)="onFileChange($event)" role="button" class="custom-file-input" [disabled]="!formImg">
                    <label class="custom-file-label label-file" for="customFile">{{selectedFile ? selectedFile.name : 'Pilih File'}}</label>
                </div>
                <div class="input-group-append btn-upload-img">
                    <button type="button" (click)="uploadImg()" class="btn btn-primary" [disabled]="uploadBerhasil">Upload</button>
                </div>
                <div class="progress" *ngIf="progesBar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" attr.aria-valuenow="{{bar}}" aria-valuemin="0" aria-valuemax="100" attr.style="width: {{bar}}%"></div>
                </div>
            </div>

            <div class="float-right">
                <button (click)="editPlants()" class="btn btn-success mt-5 mr-5" [disabled]="!loading">
                    <mat-icon class="mt-1">{{loadingIcon ? 'save':'published_with_changes'}}</mat-icon>
                </button>
            </div>

        </form>
    </div>
</div>